body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
display: flex;
flex-direction: column;
width: 100%;
padding: 0;
}

.App-header,
.App-content,
footer {
  width: 100%;
  padding: 10px 0; /* 移除水平的 padding */
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0; /* 如果你想要讓邊角變平滑，你可以保留這行 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Main-content {
flex: 1; /* 這樣可以確保它會填滿剩下的空間 */
}

/* 根據你的畫面，我建議你將 sidebar 和 Main-content 放在一個 flex container */
.App-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
