/* DataAnalysisPage.css */
.data-analysis-page-container {
    display: flex;
    flex-direction: row; /* Align children in a row */
}

.data-list-container {
    flex: 1; /* Each container takes up half the space */
    margin: 10px; /* Add some margin if needed */
    /* Add any additional styles you need here */
}
