.StockSearchControls {
  display: flex;
  justify-content: space-around; 
  margin: 20px 0;
}

.StockSearchControls input[type="text"],
.StockSearchControls input[type="date"] {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 20%; /* 根據需要調整寬度 */
}

.StockSearchControls button {
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.StockSearchControls button:hover {
  background-color: #1f242a;
}
