.StockSearchControls {
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  padding: 10px 0;
}

.StockSearchControls input[type="text"],
.StockSearchControls input[type="date"] {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 20%; 
  margin-bottom: 10px; 
}

.StockSearchControls button {
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 10px; 
}

.StockSearchControls button:hover {
  background-color: #1f242a;
}

.StockSearchControls > * {
  margin-right: 10px; 
}

.StockSearchControls > *:last-child {
  margin-right: 0;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-right: 20px;  
}

.inputGroup label {
  margin-right: 10px;  
}

.StockSearchControls {
  background-color: #f7f7f7;
}